<style>
  ::-webkit-scrollbar {
    width: 0;
  }
</style>
<router-outlet/>
<div class="flex flex-rol gap-2 h-screen p-2" [ngStyle]="{ flex: '1 1 auto' }">
  <div class="w-2 sm:w-auto z-10">
    <div class="bg-white border-2 duration-200 flex flex-col h-full overflow-hidden" (click)="isExpanded = !isExpanded" [ngStyle]="{ 'max-width': isExpanded ? '256px' : '16px', 'min-width': isExpanded ? '256px' : '16px' }">
      <div [ngStyle]="{ flex: '1 1 auto' }"></div>
      <div class="p-2">
        <fa-icon class="block hover:bg-slate-50 leading-4 p-2 w-fit" [icon]="faGear"/>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-2 h-full min-w-0" [ngStyle]="{ flex: '1 1 auto' }">
    <div class="flex flex-col gap-2 overflow-auto" [ngStyle]="{ flex: '1 1 auto' }" #scroll>
      <div class="border-2 flex flex-col gap-2 p-2 w-fit" *ngFor="let message of messages; let i = index" [ngStyle]="{ marginTop: i === 0 ? 'auto' : undefined }">
        <div class="font-bold h-4" [ngStyle]="{ lineHeight: '0.6875rem' }">bob</div>
        <div class="h-4" [ngStyle]="{ lineHeight: '0.6875rem' }">{{ message }}</div>
      </div>
    </div>
    <input class="border-2 focus:outline-none p-2" #message (keyup.enter)="message.value && messages.push(message.value); message.value = ''" placeholder="Send A Message">
  </div>
</div>
